.main{
    position: relative;
    z-index: 1;
}

.card{
    font-family: 'Roboto','Helvetica Neue','sans-serif';
    z-index: 3;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.75);
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.card ul li{
    margin: 3px;
    margin-left: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker:hover{
    cursor: pointer;
    color: rgb(66, 63, 80);
}