.main{
    position: relative;
    z-index: 1;
}

.card{
    font-family: 'Roboto','Helvetica Neue','sans-serif';
    z-index: 3;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.75);
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.card ul li{
    margin: 3px;
    margin-left: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker:hover{
    cursor: pointer;
    color: rgb(66, 63, 80);
}

.sidebarStyle{
    display: inline-block;
    position: absolute;
    font-size: 14px;
    bottom: 0;
    right: 0;
    margin: 15px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 8px;
    font-weight: bold;
    margin-top: 95vh;
    border-radius: 20px;

}